{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Environmental land management (ELM) standard: arable wildlife</h1>
      <p class="govuk-body-l">Find out about the standard for arable wildlife under the ELM scheme, who’s eligible and how much you can get paid.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Draft 1 December 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Defra</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Aims">Environmental aims of this standard</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Payment">Payment</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Eligibility">Eligibility</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#HowTo">How to complete this standard</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Guidance">Guidance to help you complete this standard</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Success">How you’ll know if you’ve been successful</a></li>
            </ol>
          </nav>
        </aside>

        <h2 id="Aims" class="govuk-heading-l">Environmental aims of this standard</h2>
        <p>The aim of this standard is to increase habitat for wildlife, including food, shelter and nesting cover, on your farm. The standard also helps to:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>manage pests by providing food and shelter for predators</li>
        <li>improve soil condition and carbon storage</li>
        <li>protect watercourses from runoff</li>
        <li>increase wildlife resistance to climate change by providing shelter and wildlife corridors</li>
        <li>strengthen the character of landscape by softening large blocks of arable land</li>
        </ul>

        <h2 id="Payment" class="govuk-heading-l">Payment</h2>
        <p>You can choose one of three levels in this standard.</p>

        <table class="govuk-table">
            <!-- <caption class="govuk-table__caption">Content-designed notes</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header app-custom-class" scope="col"> </th>
                <th class="govuk-table__header app-custom-class" scope="col">Unit cost (£/year)</th>
                <th class="govuk-table__header app-custom-class" scope="col">100 hectare (ha) farm</th>
                <th class="govuk-table__header app-custom-class" scope="col">200ha farm</th>
                <th class="govuk-table__header app-custom-class" scope="col">500ha farm</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Basic</th>
                <th class="govuk-table__cell" scope="row">£350-£530/ha <br>at 5%</th>
                <td class="govuk-table__cell">£2,230</td>
                <td class="govuk-table__cell">£4,460</td>
                <td class="govuk-table__cell">£11,150</td>
             </tr>
             <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Intermediate</th>
                <th class="govuk-table__cell" scope="row">£350-£530/ha <br>at 10%</th>
                <td class="govuk-table__cell">£4,460</td>
                <td class="govuk-table__cell">£8,920</td>
                <td class="govuk-table__cell">£22,300</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Advanced</th>
                <th class="govuk-table__cell" scope="row">£170-£350/ha<br>CS BN5 Laying<br>£9.40m</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>


        <h2 id="Eligibility" class="govuk-heading-l">Eligibility</h2>

        <p>You can choose this standard if you have arable or temporary grassland.</p>
        <p>Choose intermediate or advanced levels of the standard if data shows your land is especially important for:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>farmland birds or pollinators</li>
        <li>rare arable plants</li>
        </ul>
        <p>Do not use this standard:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>for high cover of wildflower or bird food</li>
        <li>on fields where there is a high risk of erosion as overwintered stubbles maintains bare ground</li>
        </ul>

        <h2 id="HowTo" class="govuk-heading-l">How to complete this standard</h2>

        <h3 class="govuk-heading-m">Instructions for each delivery level</h3>
        <h4>Basic level:</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Use at least 5% of your farmed area as a year-round resource for farmland birds and pollinating insects.</li>
          <li>Provide this as 1% nesting and cover, 2% insect and flower-rich habitat, and 2% winter seed food.</li>
          <li>Choose from:
            <ul class="govuk-list govuk-list--bullet">
              <li>basic overwintered stubble</li>
              <li>sown winter bird food</li>
              <li>floristically enhanced grass margins and plots</li>
              <li>unharvested cereal headlands</li>
            </ul>
          </li>
          <li>Where you have ditches:
            <ul class="govuk-list govuk-list--bullet">
              <li>carry out in-channel management on a rotation of at least 3 years</li>
              <li>cut no more than half the length of bank vegetation in any year</li>
            </ul>
          </li>
        </ul>

        <h4>Intermediate level:</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Use at least 8% of your farmed area as a year-round resource for farmland birds and pollinating insects.</li>
          <li>Provide this as 2% nesting and cover, 3% insect and flower-rich habitat, and 3% winter seed food.</li>
          <li>Include at least one of the following, in addition to baseline actions:
            <ul class="govuk-list govuk-list--bullet">
              <li>enhanced overwintered stubbles
              <li>cultivated fallow plots for arable plants and ground nesting birds
              <li>creation/ management/ enhancement of beetle banks
              <li>sown legume fallows
              <li>supplementary winter bird feeding
            </ul>
          </li>
        </ul>

        <h4>Advanced level:</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>At least 10% of the farmed area managed to provide year-round resources for farmland birds and pollinating insects</li>
          <li>Provide this as 2% nesting & cover, 4% insect & flower-rich habitat and 4% winter seed food</li>
          <li>Additional measures above the intermediate level should include:
            <ul class="govuk-list govuk-list--bullet">
              <li>creation of areas of scrub and tall vegetation (nesting, shelter) through natural regeneration</li>
              <li>buffer ponds and manage margins to retain existing scrub, or allow scrub to develop on up to 30% of the margin</li>
            </ul>
          </li>
        </ul>

        <h2 id="Guidance" class="govuk-heading-l">Guidance to help you complete this standard</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="/../prototype-guidance/guidance-full/S015A-cultivated-margins-and-plots">Cultivated margins and plots for rare arable plants</a></li>
        <li>Guidance 2</li>
        <li>Guidance 3</li>
        <li>Guidance 4</li>
        </ul>

        <h2 id="Success" class="govuk-heading-l">How you'll know if you've been successful</h2>
        <p>You'll know that your actions are successful when:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>success indicator 1</li>
          <li>success indicator 2</li>
        </ul>

        <!-- <p>To help you complete the standard, read:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Create and maintain buffer strips around high priority features</li>
          <li>Ensure there is a range of habitats to provide year-round resources for invertebrates</li>
          <li>Create and maintain legume or nectar and flower- rich margins or plots</li>
          <li>Create areas of bare ground for invertebrates and pollinating insects</li>
          <li>Create and maintain pollen and nectar plots</li>
        </ul> -->



      </div>


  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
