{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Environmental land management (ELM) standard: arable land</h1>
      <p class="govuk-body-l">Find out about the standard for improving conditions for wildlife on arable land, who’s eligible and how much you can get paid.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Draft 10 December 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Defra</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Aims">Environmental aims of this standard</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Payment">Payment</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Eligibility">Eligibility</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#HowTo">How to complete this standard</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Guidance">Guidance to help you complete this standard</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Success">How you’ll know if you’ve been successful</a></li>
            </ol>
          </nav>
        </aside>

        <h2 id="Aims" class="govuk-heading-l">Environmental aims of this standard</h2>
        <p>The aim of this standard is to increase resources for wildlife on your farm, including food, shelter and nesting cover. It will benefit wildlife all year round.</p>
        <p>The standard will also help to:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>increase resistance to climate change by improving links between wildlife habitats</li>
          <li>help to manage pests, by providing habitats for beneficial predators</li>
          <li>increase habitats for beneficial pollinators, like bees and insects</li>
          <li>improve soil condition and carbon storage by adding organic matter</li>
          <li>protect watercourses from sediment and pesticide runoff</li>
          <li>enhance landscape character by softening large arable blocks and increasing landscape diversity</li>
          <li>reduce nutrient application and the impact of nutrients on water and air quality</li>
        </ul>

        <h2 id="Payment" class="govuk-heading-l">Payment</h2>
        <p>You can choose one of three levels in this standard.</p>

        <table class="govuk-table">
            <!-- <caption class="govuk-table__caption">Content-designed notes</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header app-custom-class" scope="col">Level</th>
                <th class="govuk-table__header app-custom-class" scope="col">Payment per hectare (ha)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Basic</th>
                <th class="govuk-table__cell" scope="row">£26</th>
             </tr>
             <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Medium</th>
                <th class="govuk-table__cell" scope="row">£49</th>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">High</th>
                <th class="govuk-table__cell" scope="row">£86</th>
              </tr>
            </tbody>
          </table>


        <h2 id="Eligibility" class="govuk-heading-l">Eligibility</h2>

        <p>You can choose this standard if you have cultivated land including arable, field vegetables and horticulture, and temporary grassland.</p>
        <p>Areas you have used for the arable land standard can not then be entered into another standard, except those for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>arable and horticultural soils</li>
          <li>hedgerows, but you must deliver hedgerow buffer zone requirements separately from any actions under the arable land standard, and the hedgerow standard take precedence over any conflicting requirements under this standard</li>
        </ul>

        <p>You can use this standard on areas of special scientific interest (SSSIs) as long as the chosen level and actions within the standard are suitable for the designated features of the SSSI. You must get consent from Natural England.</p>
        <p>Choose the medium or high level of the standard if your land is especially important for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>farmland birds or pollinators</li>
          <li>rare arable plants</li>
        </ul>
        <p>Do not use this standard:</p>>
        <ul class="govuk-list govuk-list--bullet">
          <li>for high cover of wildflower or bird food</li>
          <li>on fields where there is a high risk of erosion, as overwintered stubbles maintains bare ground</li>
        </ul>



        <h2 id="HowTo" class="govuk-heading-l">How to complete this standard</h2>

        <h3 class="govuk-heading-m">Actions you must complete at all levels of this standard</h3>

        <p>Maintain and use a nutrient management plan to ensure that application of manures and fertilisers</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>meets crop and soil requirements</li>
          <li>minimise losses of nutrients and emissions of ammonia and greenhouse gases</li>
            </ul>

        <h3 class="govuk-heading-m">Specific actions for basic level</h3>

        <p>Use at least 5% of your farmed area as a year-round resource for farmland birds and pollinating insects.</p>
        <p>Provide this as 1% nesting and cover, 2% insect and flower-rich habitat and one of the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>2% winter seed food and/or unharvested low input cereal - do not include reed millet, giant sorghum or maize</li>
          <li>2% enhanced overwintered stubble retained until 31 July in the following year</li>
          <li>10% basic overwintered stubbles</li>
        </ul>
        <p>Stubbles can follow cereal, oilseed rape or linseed crops, but not maize.</p>
        <p>Where you plough land, incorporate organic manures and slurry within 12 hours.</p>

        <h3 class="govuk-heading-m">Specific actions for medium level</h3>

        <p>Use at least 8% of your farmed area as a year-round resource for farmland birds and pollinating insects.</p>
        <p>Provide this as 2% nesting and cover, 3% insect and flower-rich habitat and one of the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>3% winter seed food and/or unharvested low input cereal - do not include reed millet, giant sorghum or maize</li>
        <li>3% enhanced overwintered stubble retained until 31 July in the following year</li>
        <li>15% basic overwintered stubbles</li>
        </ul>
        <p>Stubbles can follow cereal, oilseed rape or linseed crops, but not maize.</p>
        <p>Where you plough land, incorporate organic manures and slurry within 8 hours.</p>
        <p>Use at least 0.5 hectares (ha) or 0.5% of the farmed area (whichever is greatest), as part of the total area, for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>cultivated plots for arable plants and ground nesting birds</li>
        <li>creation, management and enhancement of beetle banks</li>
        <li>sown ungrazed legume fallows</li>
        <li>supplementary winter bird feeding</li>
        </ul>
        <p>Where you have ditches:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>carry out in-channel management on a rotation of at least 3 years, unless you’ve been told to manage more regularly by the relevant flood management authority</li>
        <li>manage them between 1 September and 1 April</li>
        <li>cut no more than half the length of bank vegetation in any year</li>
        </ul>
        <p>Apply organic manures to temporary grassland using low emission technologies (trailing hose and shoe or shallow injection) to reduce emissions of ammonia.</p>
        <p>To improve nutrient efficiency and reduce losses to the environment, carry out:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a whole farm nutrient budget of nutrient inputs from feed, fertiliser and manures and outputs in crop and livestock products</li>
        <li>detailed soil mapping on 33% of the area each year to spatially test nutrient variations within fields</li>
      </ul>

      <h3 class="govuk-heading-m">Specific actions for high level</h3>

      <p>Use at least 10% of your farmed area as a year-round resource for farmland birds and pollinating insects.</p>
      <p>Provide this as 2% nesting and cover, 4% insect and flower-rich habitat and one of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>4% winter seed food and/or unharvested low input cereal - do not include reed millet, giant sorghum or maize</li>
      <li>4% enhanced overwintered stubble retained until 31 July in the following year</li>
      <li>20% basic overwintered stubbles</li>
      </ul>
      <p>Stubbles can follow cereal, oilseed rape or linseed crops, but not maize.</p>
      <p>Where you plough land, incorporate organic manures and slurry within 8 hours.</p>
      <p>Use at least 0.5ha or 0.5% of the farmed area (whichever is greatest), as part of the total area, for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>cultivated plots for arable plants and ground nesting birds</li>
      <li>creation, management and enhancement of beetle banks</li>
      <li>sown ungrazed legume fallows</li>
      <li>supplementary winter bird feeding</li>
      </ul>
      <p>Where you have ditches:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>carry out in-channel management on a rotation of at least 3 years, unless you’ve been told to manage more regularly by the relevant flood management authority</li>
      <li>manage them between 1 September and 1 April</li>
      <li>cut no more than half the length of bank vegetation in any year</li>
      </ul>
      <p>Apply organic manures to temporary grassland using low emission technologies (trailing hose and shoe or shallow injection) to reduce emissions of ammonia.</p>
      <p>To improve nutrient efficiency and reduce losses to the environment, carry out:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a whole farm nutrient budget of nutrient inputs from feed, fertiliser and manures and outputs in crop and livestock products</li>
      <li>detailed soil mapping on 33% of the area each year to spatially test nutrient variations within fields</li>
    </ul>
    <p>Reduce nutrient application rates by 5% of recommended rates based on crop and soil requirements as calculated in your nutrient management plan.</p>
    <p>Create or maintain existing areas of tall vegetation and scrub over an additional 2% of the farmed area. This must be in addition to any hedges, woods, scrub or tall vegetation managed under other standards.</p>
    <p>Ensure that areas which support the predators of crop pests are located close to the cropped area, by providing at least one area of a suitable option in every cropped field, and by using these options to subdivide fields larger than 20ha.</p>
    <p>Use efficient precision application equipment for fertilisers and pesticides.</p>

      <h3 class="govuk-heading-m">Optional actions</h3>
      <p>You will be paid an additional £13 for each in-field tree you maintain with a 10 metre radius buffer, leaving mature ivy, low hanging and fallen, dead or dying branches beneath the canopy.</p>

        <h2 id="Guidance" class="govuk-heading-l">Guidance to help you complete this standard</h2>
        <p>This guidance will help you provide habitat for wildlife:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Ensure there is a range of habitats to provide year-round resources for invertebrates</li>
          <li>Create and maintain pollen and nectar plots</li>
          <li>Create and maintain flower-rich margins and plots</li>
          <li>Create and maintain beetle banks</li>
          <li>Create areas of bare ground for invertebrates</li>
          <li>Create and maintain grass margins</li>
          <li>Create grassland and scrub mosaics</li>
          <li>Install wildlife boxes for target species</li>
          <li>Provide nest boxes for birds</li>
          <li>Create permanent grassland</li>
      </ul>
      <p>This guidance will help you provide food for wildlife:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Autumn-sown bumblebird mix</li>
        <li>Spring-sown winter bird food plots</li>
        <li>Autumn-sown winter bird food plots</li>
        <li>Ryegrass seed-set as winter food for birds</li>
        <li>Supplementary winter bird feeding</li>
      </ul>
      <p>This guidance will help you improve how you cultivate, to benefit wildlife:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/../prototype-guidance/guidance-full/S015A-cultivated-margins-and-plots">Cultivated margins and plots for arable plants</a></li>
        <li>Create and maintain herbal leys</li>
        <li>2 year sown legume fallow</li>
        <li>Unharvested low input cereal</li>
      </ul>
      <p>This guidance will help you improve the environmental aspects of your land:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Reduce fertiliser, manure and lime inputs</li>
        <li>Develop and implement a nutrient management plan</li>
        <li>Switch to efficient and precision fertiliser, manure, slurry and digestate spreading machinery</li>
        <li>Develop and implement a soil mapping and management plan</li>
        <li>Use rainwater harvesting</li>
        <li>Adopt irrigation scheduling equipment</li>
      </ul>

        <h2 id="Success" class="govuk-heading-l">How you'll know if you've been successful</h2>
        <p><i>Are there inspections? Reports that need to be submitted by the land manager?</i></p>


      </div>


  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
