
{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../index">Back to main index</a>
{% endblock %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Environmental Land Management</span>
      <h1 class="govuk-heading-xl">
        Sustainable Farming Incentive
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">


    <p>Under the standards programme, you can be paid to complete a set of actions to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>improve conditions for wildlife</li>
      <li>help the environment</li>
      <li>reduce the costs of agriculture and horticulture</li>
      <li>reduce the effects of climate change</li>
    </ul>

    <p>You will be able to choose standards that are appropriate to the resources you have on your land.</p>

    <h2 id="Guidance" class="govuk-heading-l">Standards</h2>

      <h3 class="govuk-heading-m">Hedgerows and boundaries</h3>
      <h4>Hedgerows</h4>
      <h3 class="govuk-heading-m">Grassland</h3>
      <h4>Improved grassland</h4>
      <h4>Improved grassland soils</h4>
      <h4>Semi-improved and improved grassland</h4>
      <h3 class="govuk-heading-m">Arable land and crops</h3>
      <h4>Arable land</h4>
      <p>Increase resources for wildlife on your farm, including food, shelter and nesting cover.</p>
      <p><a href="arable-land.html">View this standard</a></p>
      <h4>Arable and horticultural soils</h4>
      <h3 class="govuk-heading-m">On-farm woodland</h3>
      <h4>Farm woodland</h4>
      <h3 class="govuk-heading-m">Water bodies</h3>
      <h4>Water body buffering</h4>
      <p>Plant strips of grassland next to water to create a barrier between water bodies and farm operations.</p>
      <p><a href="water-body-buffering.html">View this standard</a></p>


    </div>
</div>

{% endblock %}
