
{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../index">Back to main index</a>
{% endblock %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Environmental Land Management</span>
      <h1 class="govuk-heading-xl">
        Standards
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <!-- <h2 class="govuk-heading-l">Full guidance notes for National Pilot</h2> -->

    <p><a href="arable-wildlife.html">Arable wildlife</a></p>


    </div>
</div>

{% endblock %}
