{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl"><!-- S010C:  -->Create and maintain pollen and nectar plots</h1>
      <p class="govuk-body-l">Find out how land managers can increase numbers of pollinating insects and boost the chance of crop pollination by creating flowered areas.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Current version at 5 March 2021
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#about">About pollen and nectar plots</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#location">Choose your location</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-to-sow">How to sow pollen and nectar plots</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#managing-your-plot">How to manage pollen and nectar plots</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#success">What successful pollen and nectar plots should look like</a></li>
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS -->

        <h2 id="about" class="govuk-heading-l">About pollen and nectar plots</h2>
          <p>A pollen and nectar plot is an area of flowers where insects can get the food they need to survive.</p>
          <p>Aim to create a plot with a variety of flower species, so that you provide food for different types of pollinating insects. Manage your plot to make sure it provides pollen and nectar for longer.</p>

        <h3 class="govuk-heading-m">Benefits of creating a pollen and nectar plot</h3>

        <p>By creating a plot you will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>support insects like bees, butterflies and hoverflies</li>
          <li>increase pollination of food crops like fruit and field beans</li>
          <li>provide food and shelter for farmland birds and their chicks</li>
          <li>help protect neighbouring crops by providing habitat for insects that feed on pests like aphids</li>
        </ul>

        <h2 id="location" class="govuk-heading-l">Choose your location</h2>
        <p>You can sow your plot as:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>a block within a field</li>
        <li>a margin at least 6 metres wide along the edge of a field</li>
        </ul>

        <p>The best locations are:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>sunny</li>
        <li>low in soil fertility, as grasses and weeds can dominate fertile areas</li>
        </ul>

        <p>Space your plots as evenly as you can across your land. Pollinators will use them as stepping stones to reach other plots or nectar sources. For example, 5 evenly spaced plots that are at least 0.5 hectares (ha) each will allow pollinators to travel across 100ha of farmland.</p>

        <p>Avoid sites that:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>have persistent weed problems, as weeds will compete with the flowers</li>
        <li>have rare arable wildflowers, as they need cultivation to thrive</li>
        <li>are remote or difficult for you to access and manage</li>
        <li>are shady, as this can lead to poor establishment of flowering plants</li>
        </ul>

        <h2 id="how-to-sow" class="govuk-heading-l">How to sow pollen and nectar plots</h2>

        <h3 class="govuk-heading-m">When to sow</h3>
        <p>You can sow your seeds at any time of the year, if the conditions are right for germination.</p>

        <p>If you plan to sow in autumn:</p>

        <ul class="govuk-list govuk-list--bullet">
        <li>sow as early as possible into a warm, moist seedbed before frosts or prolonged wet weather set in</li>
        <li>take advice from your seed supplier on frost-hardy annuals for your mix</li>
        </ul>

        <h3 class="govuk-heading-m">What to sow</h3>

        <p>Sow a minimum of 10 flowering species, at least 4 of which should not be legumes.</p>

        <p>Do not include grasses in your mix, as they will compete with your germinating flowers.</p>

        <p>This general-purpose seed mix is suitable for most soil types.</p>

        <table class="govuk-table">
            <!-- <caption class="govuk-table__caption">Content-designed notes</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header app-custom-class" scope="col">Flower species</th>
                <th class="govuk-table__header app-custom-class" scope="col">Inclusion rate (%)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Alsike clover</td>
                <td class="govuk-table__cell" scope="row">7</td>
             </tr>
             <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Bird’s-foot trefoil</td>
                <td class="govuk-table__cell" scope="row">10</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Black medick</td>
                <td class="govuk-table__cell" scope="row">5</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Common vetch</td>
                <td class="govuk-table__cell" scope="row">20</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Sainfoin</td>
                <td class="govuk-table__cell" scope="row">40</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Red clover</td>
                <td class="govuk-table__cell" scope="row">7</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Lucerne</td>
                <td class="govuk-table__cell" scope="row">5</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Sweet clover</td>
                <td class="govuk-table__cell" scope="row">5</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Common knapweed</td>
                <td class="govuk-table__cell" scope="row">1.5</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Musk mallow</td>
                <td class="govuk-table__cell" scope="row">1</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Oxeye daisy</td>
                <td class="govuk-table__cell" scope="row">1</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Red campion</td>
                <td class="govuk-table__cell" scope="row">1</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">White campion</td>
                <td class="govuk-table__cell" scope="row">1</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Wild carrot</td>
                <td class="govuk-table__cell" scope="row">1</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Yarrow</td>
                <td class="govuk-table__cell" scope="row">0.5</td>
              </tr>
            </tbody>
          </table>

              <p>Sow it at:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>15kg/ha for light or medium soils</li>
                <li>20kg/ha for heavy soils</li>
              </ul>

              <p>You can adapt this mix to best suit your land and local conditions.</p>
              <p>Speak to your seed supplier if you have strongly acidic or alkaline soils. They can also advise you on an overall sowing rate for the mix you choose.</p>
              <p>You must use organic seed if you farm organically or are converting to organic farming. You will need approval from your organic certification body to use non-organic seed.</p>

              <h3 class="govuk-heading-m">Sow your seed</h3>
              <p>Control perennial weeds before you sow your seed.</p>
              <p>Shallow drill or broadcast (scatter) seeds onto the surface of the seedbed.</p>
              <p>If your equipment is not suited to sowing low quantities of seed, mix your seed with an inert carrier like barley meal or poultry chick crumb. This will help with seed flow and achieve a more even distribution.</p>
              <p>Mix the seed well before sowing each plot.</p>
              <p>If the soil is dry enough, roll immediately after broadcasting to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>improve the seed-to-soil contact</li>
                <li>keep in moisture</li>
                <li>reduce the risk of slug damage</li>
              </ul>

              <h2 id="managing-your-plot" class="govuk-heading-l">How to manage pollen and nectar plots</h2>
              <h3 class="govuk-heading-m">During establishment</h3>
              <p>Check your plot regularly in the first few months after sowing. If establishment is poor, you might need to re-sow part or all of your plot.</p>
              <p>Broadcasting or shallow drilling into the existing plot may be enough for small areas. You might need to cultivate lightly first to create some bare ground. If your plot has failed on a larger scale, you might need to start again.</p>
              <p>If you need to control slugs, use ferric phosphate pellets if possible. These reduce the risk of water pollution and are less toxic to other wildlife. Always follow the manufacturer’s instructions.</p>
              <p>Speak to your seed supplier or agronomist if you’re unsure what to do.</p>
              <h3 class="govuk-heading-m">Cut your plants</h3>
              <p>Birds, nests and eggs are <a href="https://www.gov.uk/guidance/wild-birds-protection-surveys-and-licences#what-you-must-not-do">protected by law</a>. You must check the plot before cutting. If you see signs of nesting birds, delay cutting until birds fledge.</p>
              <p>Cut at least twice during the first year to control weeds and help your plants to establish. Make your first cut when weeds are just above the sown species and starting to shade them out.</p>
              <p>Cut at a height which:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>removes the top growth of any weeds</li>
                <li>avoids dislodging the roots of your seedlings</li>
                <li>prevents harm to wildlife like young hares</li>
              </ul>
              <p>If your mix includes early flowering annuals like black medick, common vetch, crimson clover or phacelia, cut either:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>early, when the plants are less than 30cm high and do not have flower buds</li>
                <li>late, after they’ve finished flowering</li>
              </ul>
              <p>Make sure your cutting path does not force wildlife into a central area where they cannot escape the final pass of your machinery.</p>
              <p>Where possible you should remove the cuttings. This helps to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>reduce the risk of smothering your plants</li>
                  <li>limit weeds like nettles and wild grasses</li>
                    </ul>
              <p>If you cannot remove the cuttings, make them as fine as possible by using a heavy-duty flail during dry conditions.</p>
              <h3 class="govuk-heading-m">Your plot after the first year</h3>
              <p>After the first year, your plot should be fully established.</p>
              <p>Cut half of the plot each year to extend the flowering season. Check your plot regularly in the spring and cut as soon as you see the first flower buds starting to form. Late May to mid-June is usually the best time for this.</p>
              <p>The cut plants will take time to recover and will produce flowers later than the uncut half. This means that nectar will be available to pollinators later in the summer.</p>
              <p>Alternate which half you cut each year.</p>
              <p>Cut the whole area once your plot has finished flowering.</p>
              <p>Over time, the number of plants flowering in your plot will reduce and the value to pollinating insects will fall. When there are fewer than 5 species flowering each year, re-establish your plot. This is likely to be around 5 years after establishment.</p>
              <h3 class="govuk-heading-m">Grazing your plot</h3>
              <p>You can use livestock grazing instead of the early cut on half of your plot from year 2 onwards.</p>
              <p>Make sure stock is removed before the sward is grazed below 10cm to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>stop any damage to your plants</li>
              <li>give the plants time to recover and flower later in the season</li>
                </ul>
              <p>You can graze the whole area:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>after, or instead of, your end-of-season cut</li>
              <li>in early spring, before the flowers have started to grow, to help stop grass weeds from growing</li>
                </ul>
              <p>Make sure grazing does not churn up or compact the soil.</p>
              <h3 class="govuk-heading-m">Broad-leaved weeds</h3>
              <p>Do not apply herbicide that kills broad-leaved weeds across the whole of your plot. This would also kill or damage your pollen and nectar species.</p>
              <p>If you have broad-leaved weeds like common ragwort, docks, nettles or thistles that are hard to control, you can:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>spot treat with herbicide using a knapsack sprayer, hand-lance or weed wiper</li>
              <li>cut the affected area</li>
              <li>remove them by hand</li>
                </ul>
              <h3 class="govuk-heading-m">Grass weeds</h3>
              <p>Wild grasses can suppress your flowering plants and reduce the supply of pollen and nectar.</p>
              <p>If you have a problem with grasses on your plot, you can use a selective herbicide that will kill grass weeds but not your sown flower species.</p>
              <h3 class="govuk-heading-m">Pesticide sprays</h3>
              <p>Be careful when you apply insecticide or herbicide to neighbouring crops as these could kill your flowering plants or pollinators.
                A chemical-free buffer zone like <a href="#">harvested</a> [S030D] or <a href="#">unharvested low input cereal</a> [S030G], or a <a href="#">grass margin</a> [S018A] alongside or around your plot, will protect it from spray drift.</p>
              <h2 id="success" class="govuk-heading-l">What successful pollen and nectar plots should look like</h2>
              <p>You’ll see:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>plants starting to flower in spring, providing food for early emerging insects like bumblebee queens</li>
              <li>a variety of pollinating insects like bees, butterflies, hoverflies, and wasps</li>
              <li>flowering plants in a variety of colours, shapes and sizes throughout the summer</li>
              <li>plants like common knapweed and musk mallow continuing to flower into late summer or early autumn</li>
                </ul>


      </div>

   <!-- RELATED CONTENT -->

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li>
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div> -->

  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
