{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl"><!-- S010C:  -->Create and maintain pollen and nectar plots</h1>
      <p class="govuk-body-l">Find out how land managers can boost the chance of crop pollination and help stop the decline of pollinating insects by creating flowered areas.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Published 29 July 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#what-pollen-and-nectar-plots-are">What pollen and nectar plots are</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#how-to-sow">How to sow pollen and nectar plots</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#managing-your-plot">How to manage your pollen and nectar plot</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#successful-plot">What a successful pollen and nectar plot should look like</a></li>
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS -->

        <h2 id="what-pollen-and-nectar-plots-are" class="govuk-heading-l">What pollen and nectar plots are</h2>

        <p>A pollen and nectar plot is an area of flowers where insects can get the food they need to survive.</p>

        <p>If you create a plot with a variety of flower species, you'll provide food for different types of pollinators. Managing your plot will ensure that it provides pollen and nectar for longer.</p>

        <h3 class="govuk-heading-m">Benefits of creating a pollen and nectar plot</h3>

        <p>By creating a pollen and nectar plot you'll:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>encourage the pollination of food crops like fruit and oilseed rape</li>
          <li>provide food and shelter for farmland birds and their chicks</li>
          <li>help protect neighbouring crops by providing habitat for insects that feed on pests like aphids</li>
        </ul>

        <h2 id="how-to-sow" class="govuk-heading-l">How to sow pollen and nectar plots</h2>

        <h3 class="govuk-heading-m">Choose your location</h3>

        <p>When you decide where to locate your plots, consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>whether any nectar sources already exist on your land</li>
          <li>where crops that need pollination are located</li>
          <li>whether you can locate your plots somewhere visible to the public</li>
        </ul>

        <p>Plant at least 5 plots for every 100 hectares of farmland. Each plot should measure at least half a hectare. Pollinators will use them as stepping stones to reach other areas, or to move to safety if you’re carrying out agricultural operations nearby.</p>

        <p>You can sow your plot as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a block within a field</li>
          <li>a margin along the edge to link isolated areas of flower-rich habitat</li>
        </ul>

        <p>Your plot is likely to be successful if you choose an area which is:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>south facing and sunny</li>
          <li>low in fertility</li>
        </ul>

        <p>You should avoid sites that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have a history of persistent weed problems, like common ragwort, docks, nettles or thistles</li>
          <li>are fertile as they'll encourage weeds which will outcompete your sown flowers</li>
          <li>are cool, damp or shady and sit beside tall hedgerows, tree lines or woodland</li>
          <li>are remote or difficult to access</li>
          <li>are known to have <a href="#" onclick="return false;">rare arable plants</a></li>
        </ul>

        <h3 class="govuk-heading-m">What to sow</h3>

        <p>Sow a minimum of 10 flowering species, at least 4 of which should be non-legumes.</p>

        <p>Do not include grasses in your mix, as they can smother your germinating flowers.</p>

        <p>Ask your seed supplier or agronomist about the most suitable seed mix for your land, especially if you have strongly acidic or alkaline soils. They can advise you on an overall sowing rate for the mix you choose.</p>

        <h3 class="govuk-heading-m">When to sow</h3>

        <p>You can sow your seeds at any time of the year, as long as the conditions are right for germination.</p>

        <p>You should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sow into a well-prepared, moist seedbed with a soil temperature of at least 7°C</li>
          <li>delay sowing if your seedbed is very dry or saturated</li>
          <li>finish your autumn sowings by the first week of September to minimise any damage from frost</li>
        </ul>

        <p>Speak to your seed supplier for advice on frost-hardy annuals if you’ll be sowing in autumn. </p>

        <h3 class="govuk-heading-m">Create your seedbed</h3>

        <ol class="govuk-list govuk-list--number">
          <li>Control perennial weeds before you sow your seed mix.</li>
          <li>If you have a large number of slugs, you can plough to ensure that trash gets buried deeper into the soil, away from the roots of the plants.</li>
          <li>Produce a well-consolidated, fine and level seedbed to ensure even germination.</li>
          <li>If your seedbed is still uneven after secondary cultivations or you have a large number of slugs, you can use a ring roll before sowing.</li>
        </ol>

        <h3 class="govuk-heading-m">Sow your seed</h3>

        <p>Broadcast or shallow drill seeds onto the surface of the seedbed.</p>

        <p>Sow half of your seed in one direction and the other half at a 90 degree angle to distribute the different species evenly.</p>

        <p>If your equipment is not suited to sowing low quantities of seed, mix your seed with an inert carrier like barley meal or poultry chick crumb. This will help with seed flow and achieve a more even distribution.</p>

        <p>If you're travelling between plots, make sure you mix the seed well before sowing each plot.</p>

        <p>If the soil is dry enough, ring roll immediately after broadcasting to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>improve the seed-to-soil contact</li>
          <li>retain moisture</li>
          <li>reduce the risk of slug damage</li>
        </ul>

        <h2 id="managing-your-plot" class="govuk-heading-l">How to manage your pollen and nectar plot</h2>

        <h3 class="govuk-heading-m">Check your plot early on</h3>

        <p>In the first few months after sowing, check your plot regularly for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>successful germination</li>
          <li>any pest damage</li>
        </ul>

        <p>If establishment is poor, you might need to re-sow part or all of your plot.</p>

        <p>Broadcasting or shallow drilling into the existing plot may be enough for small areas. You might need to cultivate lightly first to create some bare ground. If your plot has failed on a larger scale, you might need to start again.</p>

        <p>If pests like pigeons and mice are taking seeds, try shallow drilling your seed instead of broadcasting. You can also use bird-scaring devices.</p>

        <p>To control slugs, use ferric phosphate pellets if possible. These reduce the risk of water pollution and are less toxic to other wildlife. Only use slug pellets as a last resort and follow the manufacturer’s instructions.</p>

        <p>If you’re unsure what to do, speak to your seed supplier or adviser.</p>

        <h3 class="govuk-heading-m">Cut your plants</h3>

        <p>Cut at least twice during the first year to control weeds and help plants to establish.</p>

        <p>You must check your plot for signs of nesting birds before cutting. If you see nests, delay cutting until birds fledge.</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
          Birds, nests and eggs are protected. If you kill birds or destroy nests or eggs you can be fined an unlimited amount, face 6 months in prison or both.</strong>
        </div>

        <p>Make your first cut when weeds are starting to shade out the flower seedlings.</p>

        <p>If your mix includes early flowering annuals like black medick, common vetch, crimson clover or phacelia, cut either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>early, when the plants are less than 30cm high and do not have flower buds</li>
          <li>late, after they’ve finished flowering</li>
        </ul>

        <p>Cut at a height no less than 30cm. This will help to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>remove the top growth of any weeds</li>
          <li>not dislodge the roots of your seedlings</li>
          <li>not risk harming wildlife like young hares</li>
        </ul>

        <p>Make sure your cutting path does not force wildlife into a central area where they cannot escape the final pass of your machinery.</p>

        <p>Where possible, you should remove the cuttings. This helps to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>reduce the risk of smothering your plants</li>
          <li>limit weeds like nettles and wild grasses</li>
        </ul>

        <p>If you cannot remove the cuttings, make them as fine as possible by using a heavy-duty flail during dry conditions.</p>

        <h3 class="govuk-heading-m">Your plot after the first year </h3>

        <p>After the first year, your plot should be fully established.</p>

        <p>Cut half of the plot just before flower buds start to form. The cut plants will take time to recover and produce flowers, which means that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the cut half of your plot will flower later than the uncut half</li>
          <li>nectar will be available to pollinators later in the summer</li>
        </ul>

        <p>Check your plot regularly in the spring. Cut as soon as you see the first flower buds starting to form. Late May to mid June is usually the best time for this.</p>

        <p>You should alternate the half of the plot which is cut each year.</p>

        <p>Cut the whole area once your plot has finished flowering.</p>

        <p>Over time, the number of plants flowering in your plot will reduce and the value to pollinating insects will fall. When there are less than 5 species flowering each year, you should re-establish your plot. This is likely to be around 5 years after establishment.</p>

        <h3 class="govuk-heading-m">Grazing your plot</h3>

        <p>You can use livestock to graze your plot:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>as an alternative to the early cut on half of your plot, but remove them before the sward is grazed below 10cm to stop damage to your plants</li>
          <li>after, or as an alternative to, your end-of-season cut</li>
          <li>in early spring to help stop grass weeds from growing</li>
        </ul>

        <p>Check that grazing does not churn up or compact the soil. Remove your winter grazing stock before the flowers start to grow the following spring.</p>

        <p>To avoid damaging your plot, you should not supplementary feed.</p>

        <h3 class="govuk-heading-m">Weeds and pests</h3>

        <h4 class="govuk-heading-s">Broad-leaved weeds</h4>

        <p>Do not apply broad-leaved herbicide across all of your plot.</p>

        <p>If you have broad-leaved weeds like common ragwort, docks, nettles or thistles which are hard to control, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>remove them by hand</li>
          <li>cut the affected area</li>
          <li>apply herbicide by spot spraying or weed wiping</li>
        </ul>

        <p>Most products that are effective on weeds would also kill or damage your pollen and nectar species.</p>

        <h4 class="govuk-heading-s">Grass weeds</h4>

        <p>Wild grasses can suppress your flowering plants and reduce the supply of pollen and nectar.</p>

        <p>If you have a problem with grasses on your plot, you can use a selective herbicide which will kill grassweeds but not your sown flower species.</p>

        <p>Before using herbicides, always contact a BASIS-qualified advisor for advice.</p>

        <h4 class="govuk-heading-s">Pesticide sprays</h4>

        <p>Be careful when you apply insecticide or herbicide to neighbouring crops, as these could kill your flowering plants or pollinators. A chemical-free buffer zone like <a href="#" onclick="return false;">harvested low input cereal</a> or <a href="#" onclick="return false;">unharvested low input cereal</a> could help. You can also plant a <a href="#" onclick="return false;">grass margin</a> around your plot to help protect it from spray drift.</p>

        <h2 id="successful-plot" class="govuk-heading-l">What a successful pollen and nectar plot should look like</h2>

        <p>You’ll know that you’ve been successful when you see:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>plants starting to flower in spring, providing food for early emerging insects like bumblebee queens</li>
          <li>flowering plants in a variety of colours, shapes and sizes throughout the summer</li>
          <li>plants like common knapweed and musk mallow continuing to flower into late summer or early autumn</li>
          <li>a variety of pollinating insects like bumblebees, butterflies, hoverflies, and solitary bees and wasps using your plot to feed</li>
        </ul>

      </div>

   <!-- RELATED CONTENT -->

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li>
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div> -->

  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
