{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Cultivated margins and plots for rare arable plants</h1>
      <p class="govuk-body-l">Find out how land managers can help rare arable flowers to grow by creating uncropped areas.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="app-c-published-dates " lang="en">
          <p>Draft 1 December 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#What">Arable plants</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#How">Where to cultivate land for arable plants</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Maintain">How to establish cultivated areas</a></li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#Look">What a successful cultivated margin or plot looks like</a></li>
            </ol>
          </nav>
        </aside>

        <h2 id="What" class="govuk-heading-l">Arable plants</h2>

        <p>Arable plants are wildflowers that grow on land usually used for crops. Their seeds can survive for years in the soil. Many species are threatened and declining.</p>
        <p>Arable plants include species like:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>corn buttercup</li>
            <li>field madder</li>
            <li>dwarf spurge</li>
        </ul>
        <p>You can manage land in a way that encourages arable plants to reappear. Cultivated areas are easy to establish.
          You don’t sow a crop. The annual disturbance created by cultivation helps buried arable seeds germinate.</p>

        <h3 class="govuk-heading-m">Find out if you have arable plants on your land</h3>
        <p>Most uncommon species are found in south, south west and east England.</p>
        <p>Arable plants grow in places without crop treatments, like:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the outer edges of a field of broad-leaved crops</li>
        <li>on tracks</li>
        <li>at the bases of telegraph poles</li>
        </ul>

        <h3 class="govuk-heading-m">Benefits of cultivated margins or plots</h3>
        <p>Uncropped cultivated areas give arable plants space to grow. This will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>stop them disappearing from the landscape</li>
        <li>provide food for pollinators like bees and wasps</li>
        <li>provide nest sites and food for birds like corn bunting</li>
        </ul>

        <h2 id="How" class="govuk-heading-l">Where to cultivate land for arable plants</h2>
        <p>You can create cultivated areas as field margins or larger plots, on a part or whole field basis. Field margins should be at least 6 metres wide.</p>

        <h3 class="govuk-heading-m">Soil type</h3>
        <p>Arable plants are found on a range of soil types. Some species prefer sandy, acidic soils, while some prefer chalk or clay soils.
          Others can flourish on any soil type. The <a href="https://www.plantlife.org.uk/application/files/5014/8155/5269/ARABLE_PLANTS_-_a_management_guide.pdf" target="_blank">arable plant management guide</a> will tell you which species are likely to be found in your soil.</p>

        <h3 class="govuk-heading-m">If you know you have arable plants</h3>
        <p>Cultivate the areas where you already have existing arable plants. This will help maintain or increase the population.
          Locate big plots where there are many arable plants over a large area.</p>
          <p>Keeping your plots or margins in the same place every year will:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>build up the seed bank</li>
            <li>reduce soil nutrients, so there will be less competition from weeds</li>
            </ul>

        <h3 class="govuk-heading-m">If you know you have arable plants</h3>
        <p>To increase your chances of finding dormant seeds, create your plots in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>open, sunny locations</li>
          <li>the outermost 6 metres of your fields, as tracks and boundaries often have the richest seed bank</li>
          <li>areas at the top of slopes, as the soil is often shallow and the subsoil less fertile and productive</li>
          <li>fields that have a long history of cultivation - arable plant seeds can survive for long periods in the soil</li>
          </ul>

        <p>You need to avoid:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>cool, north facing shaded locations, as most seeds will not germinate</li>
          <li>places with perennial and arable grass weed problems</li>
          </ul>

        <p>Cultivate your plots or margins in different areas from time to time. This will help you find new areas of arable plant seeds.
        Moving your plots around can minimise weeds and crop diseases. You can fit this in with your existing crop rotation.</p>

        <h2 id="How" class="govuk-heading-l">How to establish cultivated areas</h2>
        <p>You can create cultivated areas using existing farm machinery, like a plough or power harrow.</p>
          <p>Produce a fine, firm bed across the plot.</p>
          <p>Some arable plants need to be managed in a specific way to enable them to grow. If you know which arable plants are present, read the arable plant management guide. This will help you establish areas in the best way for the species you have.</p>
          <p>If you do not know what plants you have, vary the cultivation depth to encourage a variety of species. Cultivate between 5cm and 15cm deep. You can use a plough to cultivate to a depth of 15cm. Use a rotovator or a power harrow to cultivate to 5cm depth. Aim to do this every 2 to 3 years.</p>
          <p>You can only cultivate up to 10cm deep on below-ground historic features.</p>
          <p>Leave a 2 metre buffer between cultivated areas and hedgerows.</p>

          <h3 class="govuk-heading-m">When to cultivate</h3>
          <p>If you know what arable plants you have, the arable plant management guide will tell you the best time to create uncropped areas each year.</p>
          <p>Some species germinate in the spring or autumn. Others will germinate in both seasons.</p>
          <p>If you have plants that germinate in the spring and the autumn, cultivate different plots at different times each year. This should help you grow the widest mix of species.</p>
          <p>If you don’t know what arable plants you have, alternate your cultivated areas between spring one year, and autumn the following year. This will encourage a wider range of species.</p>
          <p>For all cultivated areas you will need to time your cultivation annually:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>for spring germination, cultivate between February and April</li>
          <li>for autumn germination, cultivate between September and November</li>
          </ul>
            <p>Leave the cultivated areas undisturbed until the end of August. This will allow most species to complete their life cycle and set seed.</p>
          <p>Do not use insecticides on the cultivated areas.</p>

          <h3 class="govuk-heading-m">Fertiliser</h3>
          <p>Avoid using fertiliser. This will help arable plants emerge without too much competition from plants like:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>blackgrass</li>
          <li>couch grass</li>
          <li>creeping thistle</li>
          <li>nettles</li>
          </ul>
          <p>A buffer of at least 0.5 metres around uncropped areas can help prevent fertiliser spreading from crops.</p>

          <h3 class="govuk-heading-m">Weed control</h3>
          <p>Cultivated areas may see weeds grow quickly in the first year. Over time, as nutrient levels decrease, so will the weeds.</p>
          <p>To control weeds, you can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>vary cultivation timing every 2 to 3 years, as this will control coarse grasses like sterile brome</li>
          <li>vary cultivation depth every 2 to 3 years, as this will bury weed seeds</li>
          <li>relocate plots to areas with a lower weed burden, unless rare localised species are present</li>
          <li>top them, cut to a height of 30cm in late June and early July (only when weed species are dominating the area)</li>
          <li>regularly remove by hand in later June and early July (suitable for small areas)</li>
          </ul>
          <p>You can:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>spot treat with herbicide using a knapsack sprayer or hand-lance in late June and early July</li>
          <li>use herbicide from the beginning of September before you recultivate, to control weeds like fat hen, thistles and mugwort</li>
          <li>use graminicide in March or October to control coarse grasses</li>
          </ul>
          <p>Some species like fescues can tolerate some graminicides. Contact an agronomist if you need more information.</p>

          <h2 id="How" class="govuk-heading-l">What a successful cultivated margin or plot looks like</h2>
          <p>You’ll see:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>arable plants every year from mid-April until the end of August</li>
          <li>open patches between the plants, with some bare areas and shorter vegetation giving birds easy access to seeds on the ground</li>
          <li>bees, wasps, hoverflies and butterflies</li>
          </ul>

      </div>

   <!-- RELATED CONTENT -->

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href=""></a></li>
          </ul>
        </nav>
      </aside>
    </div> -->

  </div>
</div>


  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}
