{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="#" onclick="goBack()">Back to search results</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <span class="govuk-caption-xl">Environmental land management</span>

    <h2 class="gov-uk heading govuk-heading-xl">Activities suitable for arable land</h2>

    <p>These activities can be performed as part of the new Environmental Land Management (ELM) scheme.</p>

    <p><a href="S010C-pollen-and-nectar-plots"><!-- S010C:  -->Create and maintain pollen and nectar plots</a></p>

    <p><a href="S015C-beetle-banks"><!-- S015C:  -->Beetle banks</a></p>

    <p><a href="S011C-supplementary-winter-bird-feeding"><!-- S011C:  -->Supplementary winter bird feeding</a></p>

    <p><a href="SO42A-Use-minimum-or-no-tillage-cultivation"><!-- S042A:  -->Use minimum or no tillage cultivation</a></p>
    

      </div>

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}