{% extends "layout-guidance.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <!-- TITLE AND LEDE -->

      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Beetle banks</h1>
      <p class="govuk-body-l">Find out how to create and maintain a beetle bank to help control crop pests, reduce surface water run-off and benefit the environment.</p>
    </div>

      <!-- PUBLISHING INFORMATION -->

      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <div class="app-c-published-dates " lang="en">
          <p>Published 17 June 2020
            <br>
            From: <a class="govuk-link" href="https://www.gov.uk/government/organisations/natural-england">Natural England</a>
          </p>
        </div>

      <!-- CONTENTS LIST -->

      <div class="dashboard-main">

      <div class="govuk-grid-column-two-thirds">

        <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
          <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">
            <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>        
            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"><a href="#"></a></li>
            </ol>
          </nav>
        </aside>

        <!-- MAIN CONTENTS -->      

        <h2 class="govuk-heading-l">About beetle banks</h2>

        <p>A beetle bank is a permanent, raised, uncut, grassy strip which provides overwintering habitat for beneficial insects such as bees, predatory ground beetles and spiders. A beetle bank may shelter over a thousand hibernating insects in every square metre.</p>

        <p>In the spring these insects will start to spread out onto nearby land, feeding on aphids and other crop pests. Beetle banks within an arable setting will help reduce pest numbers. This improves crop health and productivity and may reduce your need for insecticides.</p>

        <p>You can also use a beetle bank to help control surface run-off from arable land. This can reduce:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>soil loss, by capturing eroded soil before it enters watercourses or gets deposited onto roads</li>
          <li>pollution, by reducing the amount of water-borne fertiliser or pesticides which reach sensitive habitats</li>
          <li>flooding of nearby land and property, by slowing or re-routing the flow of water</li>
        </ul>

        <p>A beetle bank provides shelter, nesting and foraging habitat for a range of other wildlife such as butterflies, farmland birds and small mammals. Ideally your beetle bank should include some flowering plants as a food source for pollinating insects. Beetle banks can be important nest sites for bumblebees.</p>

        <p>A beetle bank can improve the appearance of the landscape by helping to break up large fields.</p>

        <h2 class="govuk-heading-l">Creating your beetle bank</h2>

        <h3 class="govuk-heading-m">Choose your location</h3>

        <p>For pest control purposes you should construct a beetle bank in fields that are over 20 hectares.</p>

        <p>Spiders and insects can be slow to disperse. Creating a beetle bank in the centre of a large field will ensure they can move across the entire area during the summer.</p>

        <p>In fields of 30 to 50 hectares three or four banks evenly spaced across the field would be most effective.</p>

        <p>You can maximise the habitat for predatory insects and spiders on your land by combining beetle banks with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" onclick="return false;">hedgerows</a></li>
          <li><a href="#" onclick="return false;">grass margins or flower-rich margins</a></li>
          <li><a href="#" onclick="return false;">pollen and nectar plots</a></li>
        </ul>

        <p>Where small fields have been merged to create large fields, an old boundary line can be an ideal location for a beetle bank. Often the soil type varies in each of the former fields, so a beetle bank can be a helpful division, allowing you to manage your crop effectively on either side of the bank.</p>

        <p>For ease of management your beetle bank should run in the same direction as your cultivations. If you are using a beetle bank to prevent water run-off and soil erosion then the bank should run across the contour of any slope to maximise its effect. Take care that the water is not channelled somewhere else.</p>

        <p>Remember to leave a gap at both ends of the bank where it meets your field boundary or margin so that you can fit your machinery through.</p>

        <h3 class="govuk-heading-m">Forming your bank</h3>

        <p>Create your bank by ploughing in two directions towards each other. This will form a raised bank with a wide adjacent furrow. Your bank should be between three and five metres wide and raised at least 40cm above the normal field level.</p>

        <p>You should create a firm, fine seedbed using shallow cultivation. Be careful not to overwork the bank as you may cause it to slump.</p>

        <p>You can create beetle banks during your normal cultivations in spring or autumn.</p>

        <p>For autumn sowing, seed is more likely to germinate when sown earlier (September) into a warm, moist seedbed, before poor weather sets in. If frost or prolonged wet weather is expected then banks created in autumn can be left until the following spring (March onwards) for sowing. In this case you may need to spray with a broad spectrum herbicide before sowing if weeds have started to take hold.</p>

        <h3 class="govuk-heading-m">What to sow</h3>

        <p>The majority of your bank should consist of vigorous tussock and mat-forming grass species such as cock’s foot, timothy, meadow fescue or tall fescue.</p>

        <p>Some fine-leaved creeping grasses are useful for covering the bare ground beneath the taller grasses. Consider sheep’s fescue, common bent or red fescue.</p>

        <p>Adding some tall growing flowers will increase the wildlife value of the bank. Choose species that are tough enough to compete with the thick grasses, such as hogweed, wild carrot, chicory or knapweed. The flowers provide food for pollinators and will attract other predatory insects such as hoverflies and parasitic wasps. The tall stems also provide nest sites for harvest mice, and perches for farmland birds. You may hear a male corn bunting singing for a mate from one of these stems.</p>

        <p>An ideal seed mix would contain three or four tussocky species plus two or three finer grasses and flowers. Choose species suitable for your soil type and sow at a rate of three grams per square metre.</p>

        <p>Broadcast your seed mix on to the seedbed. For smaller banks hand sowing may be easier. Rolling after sowing will ensure the seed is in contact with the soil and help to retain moisture.</p>

        <h3 class="govuk-heading-m">First year management</h3>

        <p>Check your beetle bank regularly to make sure your seed is growing and that weeds are not smothering your grasses.</p>

        <p>Mowing several times over the first summer will help your grasses grow more densely and control any emerging weeds.</p>

        <h3 class="govuk-heading-m">Ongoing management</h3>

        <p>Once your grasses have established there will be fewer opportunities for weeds to take hold.</p>

        <p>You can control weeds by hand pulling, digging, spot application of herbicide, or by cutting the affected area. Weeds you should remove include common ragwort, docks, nettles and thistles. Scrub species such as bramble, hawthorn or blackthorn should also be removed.</p>

        <p>Cutting should only be carried out in autumn or winter when invertebrates are least active. After two or three years your beetle bank should be fully established and providing optimal habitat for a range of beneficial insects. Your crops should have started to benefit as damage caused by pests such as aphids and slugs declines.</p>

        <h2 class="govuk-heading-l">Things to be aware of</h2>

       <p>To avoid killing your beneficial insects or the vegetation on your bank, you should be careful when applying insecticide or herbicide to adjacent crops. To protect your bank from spray drift consider establishing a chemical-free buffer zone such as low input cereal, a flower-rich margin, or a pollen and nectar plot on each side of your bank.</p>

       <p>Do not apply any fertilisers, manures or lime to your beetle bank as this is likely to result in increased weed growth and subsequent management costs.</p>

       <p>You should not allow people or vehicles to use your beetle bank as an access route. This may lead to erosion and bare ground which will reduce the effectiveness of your beetle bank and increase the likelihood of weed problems.</p>

       <h3 class="govuk-heading-m">Legal requirements</h3>

       <p>Under the Wildlife and Countryside Act 1981 all birds, their nests and eggs are protected by law. It is an offence, with certain exceptions, to intentionally kill, injure or take any wild bird. It is also an offence to intentionally take, damage or destroy the nest of any wild bird whilst it is in use or being built.</p>

       <p>You should check your beetle bank for signs of nesting birds before carrying out cutting. Where nests are present delay cutting until birds have fledged.</p>

       <p>Always consult a British Agrochemical Standards Inspection Scheme (BASIS) qualified agronomist when using chemicals to control weeds. A BASIS agronomist will provide you with up to date information on approved products and application rates to suit your needs.</p>

       <h2 class="govuk-heading-l">How a successful beetle bank should look</h2>

       <p>You will know your management is right when:</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>your bank has a dense covering of tussocky grasses including dead stems from previous seasons</li>
        <li>there are low levels of undesirable weeds and scrub</li>
        <li>you easily find beneficial invertebrates such as ladybirds, ground beetles and spiders</li>
        <li>any surface water run-off is being intercepted and slowed by your bank</li>
      </ul>

      <p>In the most environmentally-valuable banks you will also see signs of:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>farmland birds using your bank for foraging and nesting</li>
        <li>small mammals such as hares and harvest mice using your bank for nesting and shelter</li>
        <li>bumblebees and other pollinators foraging during the spring and summer</li>
      </ul>

      <h2 class="govuk-heading-l">Related content</h2>

      <p><a href="#" onclick="return false;">O24 Increased area and improved connectivity of priority and other semi-natural habitats</a></p>

      <p><a href="#" onclick="return false;">S010 Ensure there is a range of habitats to provide year-round resources for invertebrates</a></p>

      <p><a href="#" onclick="return false;">S010A Create and maintain legume or nectar and flower-rich margins or plots S010C Create and maintain pollen and nectar plots</a></p>

      <p><a href="#" onclick="return false;">S011 Ensure there is a range of habitats and actions to provide year round resources for birds S015 Manage arable land for wildlife and rare arable wild plants</a></p>

      <p><a href="#" onclick="return false;">S018A Create and maintain grass margins and field corners</a></p>

      <p><a href="#" onclick="return false;">S030D Harvested low input cereal</a></p>

      <p><a href="#" onclick="return false;">???TBC Unharvested low input cereal</a></p>


      <h2 class="govuk-heading-l">Explore the topic</h2>

      <p><a href="#" onclick="return false;">Beetle banks</a> - Game and Wildlife Conservation Trust</p>

      <p><a href="#" onclick="return false;">How to create the ultimate beetle bank</a> – Game and Wildlife Conservation Trust</p>

      <p><a href="#" onclick="return false;">Beetle banks</a> – Royal Society for the Protection of birds (RSPB)</p>



   <!-- RELATED CONTENT -->

    <!-- <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a class="govuk-link" href="create-maintain-hill-slope-tree-shelter-belts">A6: Create or maintain hillslope tree shelter belts to reduce flooding</a></li>
            <li><a class="govuk-link" href="cover-crops-maintain-carbon-storage-reduce-sediment-water-bodies">A5: Use cover crops to maintain carbon storage and reduce sediment in water bodies</a></li>
            <li><a class="govuk-link" href="fence-water-sources-livestock-prevent-erosion-contamination">U2: Fence off water sources from livestock to prevent erosion and contamination</a></li>
            <li><a class="govuk-link" href="increase-organic-matter-soils-reduce-wind-erosion">A8: Increase organic matter in soils to reduce wind erosion</a></li>
            <li><a class="govuk-link" href="provide-drinking-water-livestock-reduce-sediment-water">U3: Provide drinking water for livestock to reduce the amount of sediment in water bodies</a></li>
            <li><a class="govuk-link" href="use-lower-emission-fertilisers-reduce-ammonia-greenhouse-gasses">A1: Use lower emission fertilisers to reduce ammonia and greenhouse gas emissions</a></li>
          </ul>
        </nav>
      </aside>
    </div> -->

  </div>
</div>
  

  <script>
  function goBack() {
    window.history.back();
  }
  </script>
{% endblock %}